---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { readingTime } from "@lib/utils";
import BackToPrev from "@components/BackToPrev.astro";

export async function getStaticPaths() {
  const posts = (await getCollection("blog"))
    .filter(post => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<PageLayout title={post.data.title} description={post.data.description}>
  <Container>
    <div class="animate">
      <BackToPrev href="/blog">
        Back to blog
      </BackToPrev>
    </div>
    <div class="space-y-1 my-10">
      <div class="animate flex items-center gap-1.5">
        <div class="font-base text-sm">
          <FormattedDate date={post.data.date} />
        </div>
        &bull;
        <div class="font-base text-sm">
          {readingTime(post.body)}
        </div>
      </div>
      <div class="animate text-2xl font-semibold text-black dark:text-white">
        {post.data.title}
      </div>
    </div>
    <article class="animate">
      <Content />

      <hr class="my-8 border-stone-200 dark:border-stone-800" />
      
      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">
          让我们彼此触达
        </h5>
        <div class="prose dark:prose-invert">
          <p>
            万物穿身而过，就在此处。如果你想知道更多，或者想和我聊聊任何想法，或者单纯打个招呼，欢迎通过以下方式触达。（点击下方可跳转）
          </p>
        </div>
        <ul class="flex flex-wrap gap-2 text-sm">
          {SOCIALS.map((SOCIAL) => (
            <li class="flex gap-x-2 text-nowrap">
              <a 
                href={SOCIAL.HREF} 
                target="_blank" 
                class="text-current underline underline-offset-2 decoration-black/15 dark:decoration-white/30 hover:text-black hover:dark:text-white transition-colors duration-300"
              >
                {SOCIAL.NAME}
              </a>
              <span class="text-stone-300 dark:text-stone-700">/</span>
            </li>
          ))}
          <li class="line-clamp-1">
            <a 
              href={`mailto:${SITE.EMAIL}`} 
              class="text-current underline underline-offset-2 decoration-black/15 dark:decoration-white/30 hover:text-black hover:dark:text-white transition-colors duration-300"
            >
              {SITE.EMAIL}
            </a>
          </li>
        </ul>
      </section>
      </article>
  </Container>
</PageLayout>
